<%= link_to 'Back', products_path %>

<h1>Product</h1>


  <ul>
    <h4>
      <%= @product.name %>
    </h4>
    <li>
      <%= @product.description %>
    </li>
    <li>
      <%= @product.price_in_cents %>
    </li>
  </ul>
